#lnk-multisite-manager {
    position: relative;
    z-index: 50;
}

#cargando {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.4;
    z-index: 100;
}

#config {
    display:flex;
    flex-wrap: nowrap;
    float:right;
}

#config input {
    margin:10px;
}

#posts ul {
    clear:both;
    display: flex;
    flex-wrap: nowrap;
    margin:0;
}

#posts ul li{
    padding: 4px;
    margin: 0;
    border-bottom: 1px solid #aaa;
    border-right: 1px solid #aaa;
    
}

#posts .col-fecha {
    width: 10%;
}

#posts .col-titulo {
    width: 30%;
}

#posts .col-site {
    width: 20%;
}

#posts .col-estado {
    width: 10%;
}


#posts .col-acciones {
    width: 30%;
}

#posts .posts-header ul {
    border-top: 1px solid #aaa;
    border-left: 1px solid #aaa;
    background-color: #ccc;
    color: #fff;
}

#posts .posts-body ul {
    border-left: 1px solid #aaa;
    background-color: #fff;
}

#posts .posts-body ul.onhome {
    background-color: #d3ffd0;
}

#posts .posts-body ul.onhome.featured {
    background-color: #f3ffaf;
}

#posts .posts-header li {
    font-weight: bold;
    font-size:1.2em;
}

#posts li button{
    padding: 3px;
    margin: 3px;
    border-radius: 5px;
    cursor: pointer;
}

#posts li button#marcar_revisado {
    background-color: #4aa64a;;
    color: #fff;
}

#posts li button#btn_publicar,
#posts li button#btn_agendar {
    background-color: #4aa64a;
    color: #fff;
}

#posts li button#btn_despublicar,
#posts li button#btn_desagendar {
        background-color: #7c3535;
    color: #fff;
}

input.datepicker {
    cursor: pointer;
}